<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Is Today&apos;s Announcement Going to Kill Magic{% if sub %}&apos;s {{sub}}{% endif %}?</title>
    <meta name="description"
        content="A friendly reminder to all Magic: The Gathering fans that today’s announcement has not, in fact, killed Magic{% if sub %}’s {{sub}}{% endif %}">
    <meta itemprop="name" content="Is Today’s Announcement Going to Kill Magic?">
    <meta itemprop="description"
        content="A friendly reminder to all Magic: The Gathering fans that today’s announcement has not, in fact, killed Magic{% if sub %}’s {{sub}}{% endif %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Is Today’s Announcement Going to Kill Magic?">
    <meta name="twitter:description"
        content="A friendly reminder to all Magic: The Gathering fans that today’s announcement has not, in fact, killed Magic{% if sub %}’s {{sub}}{% endif %}">
    <meta name="twitter:creator" content="@FloriusWasTaken">
    <meta name="twitter:image" content="https://istodaysannouncementgoingtokillmagic.com/capture.png">
    <meta property="og:title" content="Is Today’s Announcement Going to Kill Magic{% if sub %}’s {{sub}}{% endif %}?">
    <meta property="og:description"
        content="A friendly reminder to all Magic: The Gathering fans that today’s announcement has not, in fact, killed Magic{% if sub %}’s {{sub}}{% endif %}">
    <meta property="og:url" content="https://istodaysannouncementgoingtokillmagic.com">
    <meta property="og:site_name" content="Is Today’s Announcement Going to Kill Magic{% if sub %}’s {{sub}}{% endif %}?">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://istodaysannouncementgoingtokillmagic.com/capture.png">
    <meta name="theme-color" content="#dc143c">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        blockquote,
        body,
        dd,
        dl,
        figure,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        li,
        ol,
        p,
        pre,
        ul {
            margin: 0;
            line-height: 1em;
        }

        body,
        html {
            height: 100%;
            background-color: #fffff0;
            color: #414141;
        }

        body {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .aligner {
            margin: 4rem;
        }

        .item {
            align-self: center;
            margin: auto;
            text-align: center;
        }

        h1 {
            font-weight: 300;
            font-size: 3rem;
            line-height: 2.8rem;
            margin-bottom: 1em;
            padding: 14px 0 13px;
        }

        h2 {
            font-weight: 900;
            font-stretch: normal;
            font-size: 9rem;
            line-height: 8.5rem;
        }

        footer {
            text-align: center;
            position: absolute;
            bottom: 1em;
            width: 100%;
            left: 0;
            font: 300 1rem/1.25rem SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        }

        footer ul {
            list-style: none;
            padding: 0;
            display: inline-flex;
        }

        footer ul li {
            display: inline-block;
            padding: 0 .4rem;
            border-right: 1px solid #414141;
        }

        li:last-child {
            border-right: none;
        }

        a:active,
        a:focus,
        a:hover {
            outline: none;
        }

        a {
            color: #dc143c;
        }
    </style>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "QAPage",
            "mainEntity": {
              "@type": "Question",
              "name": "Is Today’s Announcement Going to Kill Magic{% if sub %}’s {{sub}}{% endif %}?",
              "text": "Is Today’s Announcement Going to Kill Magic{% if sub %}’s {{sub}}{% endif %}?",
              "answerCount": 1,
              "dateCreated": "2020-05-15T21:11Z",
              "author": {
                "@type": "Person",
                "name": "Every Magic: The Gathering fan"
              },
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "No.",
                "upvoteCount": 13,
                "dateCreated": "2020-05-15T21:12Z",
                "author": "Argumentum ad antiquitatem",
                "url": "https://istodaysannouncementgoingtokillmagic.com{{ page.url }}"
              }
            }
        }
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7M5Z4PVG3F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-7M5Z4PVG3F', { cookie_domain: 'istodaysannouncementgoingtokillmagic.com', cookie_flags: 'SameSite=None;Secure' });
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="aligner">
            <div class="item">
                <h1>
                    Is Today&apos;s Announcement Going to Kill Magic{% if sub %}&apos;s {{sub}}{% endif %}?
                </h1>
                <h2>No</h2>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <ul>
            <li>
                Made with <span role="img" title="love" aria-label="love">♥</span> by: <a
                    href="https://florius.com.ar">Florius.com.ar</a>
            </li>
            <li>
                Source: <a href="https://github.com/jazcarate/istodaysannouncementgoingtokillmagic.com">GitHub</a>
            </li>
        </ul>

    </footer>
</body>

</html>